.brand-story-intro-modal {
  // height: 70vh;
  .ant-modal-body {
    max-height: 70vh !important;
    overflow-y: auto;
    padding: 8px 16px 48px 16px;
  }
  .custom-sub1 {
    font-weight: bold;
    width: 414px;
    padding-top: 20px;
    font-size: 24px;
    color: #161616;
    white-space: normal;
  }
  .custom-sub2 {
    color: #161616;
    font-size:24px;
    font-weight: bold;
  }
}