.content-module-item {
  position: relative;
  margin-left: 15px;
  margin-top: 16px;

  .content-module-item-content {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-icon {
      font-size: 24px;
      font-weight: 500;
    }

    &.module_type_entry {
      background-color: #ff5d5d;
      color: #fff;
    }

    &.module_type_member {
      background-color: #f7b225;
      color: #fff;
    }

    &.module_type_extend {
      background-color: #4858cd;
      color: #fff;
    }
  }

  .close-x {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 26px;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #525252;

    &::before {
      content: '';
      width: 2px;
      height: 14px;
      display: inline-block;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      left: 9px;
    }

    &::after {
      content: '';
      width: 2px;
      height: 14px;
      display: inline-block;
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: 4px;
      left: 9px;
    }
  }
}
