.content-container-wrapper.diy-content {

  .radio-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d9d9d9;
    border-bottom-width: 0;
    border-right-width: 0;

    .radio-box-item {
      flex: 0 1 33.3%;
      border-top-width: 0;
      // text-align: center;
      height: 48px;
      // line-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-left-width: 0;
        border-radius: 0;
      }
      &:hover {
        color: #161616;
        font-size: 14px;
        font-weight: 700;
        outline: none;
      }

      &.ant-radio-button-wrapper-checked {
        // color: red;
        border-color: #d9d9d9;

        color: #161616;
        font-size: 14px;
        font-weight: 700;
        outline: none;

        border: 2px solid #000000;
        // outline-offset: -1px;

        &::before {
          display: none;
        }
      }

      &.radio-box-item-max {
        flex: 1;
      }

      // 1px solid #d9d9d9
    }
  }
}
